body {
  background-color: rgb(0, 0, 0);
} 

.text{
  color: white;
  font-size: 12px; 
  width: 500px;
  height: 375px;
  display: grid;
  align-content: center;
  justify-content: center;
}
@media (max-width: 1500px) {
  .image {
    width: 100vw;
    height: 100vh;
    background-image: url('../Images/flower-1.png');
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

@media (max-width: 1400px) {
  .image {
    width: 100vw;
    height: 100vh;
    background-image: url('../Images/flower-2-v2.png');
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

@media (max-width: 1300px) {
  .image {
    width: 100vw;
    height: 100vh;
    background-image: url('../Images/flower-3.png');
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}
@media (max-width: 1200px) {
  .image {
    width: 100vw;
    height: 100vh;
    background-image: url('../Images/flower-4.png');
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}
@media (max-width: 1100px) {
  .image {
    width: 100vw;
    height: 100vh;
    background-image: url('../Images/flower-5.png');
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}
@media (max-width: 1000px) {
  .image {
    width: 100vw;
    height: 100vh;
    background-image: url('../Images/flower-6.png');
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}
@media (max-width: 900px) {
  .image {
    width: 100vw;
    height: 100vh;
    background-image: url('../Images/flower-7.png');
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}
@media (max-width: 800px) {
  .image {
    width: 100vw;
    height: 100vh;
    background-image: url('../Images/flower-8.png');
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}
@media (max-width: 700px) {
  .image {
    width: 100vw;
    height: 100vh;
    background-image: url('../Images/flower-9.png');
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}
@media (max-width: 600px) {
  .image {
    width: 100vw;
    height: 100vh;
    background-image: url('../Images/flower-10.png');
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}
