.container {
    display: grid; 
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    height: 100vh
}
.container div{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 50%; 
}
.b{
    justify-content: center;
    align-items: center;

}